html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_________FONTS______*/
@font-face {
	font-family:"Bebas";
	src:url(../font/7fonts.ru_BEBAS___.TTF);
}
/*________GLOBAL_STYLES_______*/
p{
	float: left;
	display: block;
	color: #000;
	font: 700 24px "Bebas";
}
li{
	overflow: hidden;
	padding: 10px 40px;
	transition: all .3s ease;
	border: 1px solid transparent;
}
ul{
	display: block;
	margin: 0 auto;
	width: 50%;
	background: #eee;
	border: 5px solid #ddd;
	padding: 40px 0;
	box-sizing: border-box;
}

.active{
	background: rgba(0, 0, 255, 0.05);
	border: 1px solid blue;
}

span{
	float: right;
	color: #000;
	font: 400 16px "Verdana";
}
.label{
	width: 500px;
	margin: 0 auto;
}
.radio{
	display: none;
}
.radio + label{
	display: block;
	padding: 10px 40px;
	border: 1px solid transparent;
	box-sizing: border-box;
	overflow: hidden;
}
.radio + label:before{
	display: block;
	float: left;
	content: "";
	width: 26px;
	margin-top: 5px;
	margin-right: 10px;
	height: 26px;
	background: url(../icons.png) 0 0 no-repeat;
}
.radio:checked + label{
	background: rgba(0, 0, 255, 0.05);
	border: 1px solid blue;
}
.radio:checked + label:before{
	background: url(../icons.png) -27px 0 no-repeat;
}
.select{
	margin: 0 auto;
	font: 400 14px "verdana";
	width: 200px;
}
.total{
	display: block;
	color: #000;
	font: 700 24px "Bebas";
	text-align: center;
	padding-bottom: 20px;
}
.total span{
	color: blue;
	font: 700 24px "Bebas";
	padding-left: 10px;
	float: none;
	display: inline-block;
}
h5{
	color: blue;
	text-align: center;
	display: block;
	font: 400 24px "Verdana";
}
h5 span{
	color: blue;
	font-size: 24px;
	padding-left: 10px;
	float: none;
	display: inline-block;
}
button{
	display: block;
	text-align: center;
	padding: 20px 80px;
	border-radius: 50px;
	border: none;
	background: green;	
	margin: 0 auto 30px;
	text-transform: uppercase;
	color: #fff;
	font: 700 24px "Bebas";
}

/*************TEST SECOND*************/

.circle{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 5px solid #0202b7;
	margin: 40px auto;
	overflow: hidden;
}
.small{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	background: #3773e4;
}











