<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>indexG_aME</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<form action="#" class="container" ng-controller="priceController">
		<div class="label" ng-repeat="content in data.product">
			<input 
				type="radio"
				class="radio " 
				name="radio"
				id="{{ $index }}">
			<label 
				ng-click="activeClass($index)"
				for="{{ $index }}">
				<p>License plan # {{  $index }}</p>
				<span>$ {{ content.price }} per license</span>
			</label>
		</div>
		<hr>
		<div class="select">
			number of licenses 
			<select name="number" id="" ng-model="data.select">
				<option 
					ng-repeat="content in data.option"
					value="{{ content.number }}"
					>{{ content.number }}</option>
				{{ summa() }}
			</select>
		</div>
		<hr>
		<div class="total">total: <span>{{ total }}</span></div>
		<button type="submit">buy now</button>
		<h5 ng-show="count">selected plan <span> {{ count }}</span></h5>
	</form>


	<script src="./js/jquery.js"></script>
	<script src="./js/angular.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>













